

<!doctype html>
<html lang="en" dir="ltr">
	<head>

		<!-- Favicon -->
		<link rel="icon" href="assets/images/brand/favicon.png" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="assets/images/brand/favicon.png" />

		<!-- Title -->
		<title>Tools</title>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">

		<!-- Dashboard css -->
		<link href="assets/css-dark/style.css" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href="assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

		<!-- Horizontal-menu css -->
		<link href="assets/plugins/horizontal-menu/dropdown-effects/fade-down.css" rel="stylesheet">
		<link href="assets/plugins/horizontal-menu/dark-horizontalmenu.css" rel="stylesheet">

		<!--Daterangepicker css-->
		<link href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

		<!-- Sidebar Accordions css -->
		<link href="assets/plugins/accordion1/css/dark-easy-responsive-tabs.css" rel="stylesheet">

		<!-- Rightsidebar css -->
		<link href="assets/plugins/sidebar/dark-sidebar.css" rel="stylesheet">

		<!---Font icons css-->
		<link href="assets/plugins/iconfonts/plugin.css" rel="stylesheet" />
		<link href="assets/plugins/iconfonts/icons.css" rel="stylesheet" />
		<link  href="assets/fonts/fonts/font-awesome.min.css" rel="stylesheet">


		<!-- Jquery js-->
		<script src="assets/js-dark/vendors/jquery-3.2.1.min.js"></script>

		<!--Bootstrap.min js-->
		<script src="assets/plugins/bootstrap/popper.min.js"></script>
		<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!--Jquery Sparkline js-->
		<script src="assets/js-dark/vendors/jquery.sparkline.min.js"></script>

		<!-- Chart Circle js-->
		<script src="assets/js-dark/vendors/circle-progress.min.js"></script>

		<!-- Star Rating js-->
		<script src="assets/plugins/rating/jquery.rating-stars.js"></script>

		<!--Moment js-->
		<script src="assets/plugins/moment/moment.min.js"></script>

		<!-- Daterangepicker js-->
		<script src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

		<!-- Horizontal-menu js -->
		<script src="assets/plugins/horizontal-menu/horizontalmenu.js"></script>

		<!-- Sidebar Accordions js -->
		<script src="assets/plugins/accordion1/js/easyResponsiveTabs.js"></script>

		<!-- Custom scroll bar js-->
		<script src="assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- Rightsidebar js -->
		<script src="assets/plugins/sidebar/sidebar.js"></script>

		<!--Time Counter js-->
		<script src="assets/plugins/counters/jquery.missofis-countdown.js"></script>
		<script src="assets/plugins/counters/counter.js"></script>

		<!-- Charts js-->
		<script src="assets/plugins/chart/chart.bundle-dark.js"></script>
		<script src="assets/plugins/chart/utils.js"></script>

		<!--Peitychart js-->
		<script src="assets/plugins/peitychart/jquery.peity.min.js"></script>
		<script src="assets/plugins/peitychart/peitychart.init.js"></script>

		<!-- Custom-charts js-->
		<script src="assets/js-dark/index3.js"></script>

		<!-- Custom js-->
		<script src="assets/js-dark/custom.js"></script>

		<!-- Notifications  css -->
		<link href="assets/plugins/notify/css/jquery.growl.css" rel="stylesheet" />
		<link href="assets/plugins/notify/css/notifIt.css" rel="stylesheet" />
		<script src="assets/plugins/notify/js/sample.js"></script>
		<script src="assets/plugins/notify/js/notifIt.js"></script>



	</head>

	<body class="app sidebar-mini rtl">

		<!--Global-Loader-->
		<div id="global-loader">
			<img src="assets/images/icons/loader.svg" alt="loader">
		</div>

		<div class="page">
			<div class="page-main">
				<!--app-header-->
				<div class="app-header header hor-topheader d-flex">
					<div class="container">
						<div class="d-flex">
						    <a class="header-brand" href="index.html">
								<img src="ssets/images/brand/logo1.png" class="header-brand-img main-logo" alt="Hogo logo">
								<img src="assets/images/brand/icon.png" class="header-brand-img icon-logo" alt="Hogo logo">
							</a><!-- logo-->
							<!-- <a id="horizontal-navtoggle" class="animated-arrow hor-toggle"><span></span></a>
							<a href="#" data-toggle="search" class="nav-link nav-link  navsearch"><i class="fa fa-search"></i></a><!-- search icon -->
							<div class="header-form">
								
							</div>
							
							<div class="d-flex order-lg-2 ml-auto header-rightmenu">
								<div class="dropdown">
									<a  class="nav-link icon full-screen-link" id="fullscreen-button">
										<i class="fe fe-maximize-2"></i>
									</a>
								</div><!-- full-screen -->
								
								<div class="dropdown header-user">
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
										

										
									</div>
								</div><!-- profile -->
								<div class="dropdown">
									
								</div><!-- Right-siebar-->
							</div>
						</div>
					</div>
				</div>
				<!--app-header end-->

				<!-- Horizontal-menu -->
				<div class="horizontal-main hor-menu clearfix">
					<div class="horizontal-mainwrapper container clearfix">
						<nav class="horizontalMenu clearfix">
							<ul class="horizontalMenu-list">
								<li aria-haspopup="true"><a href="index.html" class=""><i class="fa fa-coffee"></i> Dashboard</a></li>

								<li aria-haspopup="true"><a href="#" class="sub-icon active"><i class="typcn typcn-device-desktop hor-icon"></i> Information Gathering <i class="fa fa-angle-down horizontal-icon"></i></a>
									<ul class="sub-menu">
										<li aria-haspopup="true"><a href="bypass-cloud.html">Bypass Cloud Flare </a></li>
										<li aria-haspopup="true"><a href="cms-detect.html">Cms Detect</a></li>
										<li aria-haspopup="true"><a href="trace.html">Trace Toute</a></li>
										<li aria-haspopup="true"><a href="reverseip.html">Reverse IP</a></li>
										<li aria-haspopup="true"><a href="port-scan.html">Port Scan</a></li>
										<li aria-haspopup="true"><a href="ip-loc.html">IP location Finder</a></li>
										<li aria-haspopup="true"><a href="http-header.html">Show HTTP Header</a></li>
										<li aria-haspopup="true"><a href="shared-dns.html">Find Shared DNS</a></li>
										<li aria-haspopup="true"><a href="whois.html">Whois</a></li>
										<li aria-haspopup="true"><a href="dns-lookup.html">DNS Lookup</a></li>
									</ul>
								</li>
								
								<li aria-haspopup="true"><a href="exploits.html" class=""><i class="typcn typcn-arrow-move-outline"></i> Exploits</a></li>
								<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="typcn typcn-chart-pie-outline"></i> Social Engineering <i class="fa fa-angle-down horizontal-icon"></i></a>
									<ul class="sub-menu">
										<li aria-haspopup="true"><a href="get-data.html">Get system Information with link </a></li>
										<li aria-haspopup="true"><a href="shot-webcam.html">screen captrue with link</a></li>
										<li aria-haspopup="true"><a href="play-voice.html">play sound with link</a></li>
		
									</ul>
								</li>


								
							</ul>
						</nav>
						<!--Nav end -->
					</div>
				</div>
				<!-- Horizontal-menu end -->

				<!--Header submenu -->
				<div class="bg-white p-3 header-secondary header-submenu">
					<div class="container ">
						<div class="row">
							<div class="col">
								<div class="d-flex">
									<button id="btn-reload" class="btn btn-danger"><i class="fe fe-rotate-cw mr-1 mt-1"></i> Reload</button> 
									
								</div>
							</div>
							<div class="col col-auto">
								<button id="btn-git" class="btn btn-light mt-4 mt-sm-0"><i class="fe fe-github mr-1 mt-1"></i>  Github</button> 
								<button id="btn-tele" class="btn btn-primary mt-4 mt-sm-0"> <i class="fa fa-telegram mr-1 mt-1"></i> Telegram Channel</button>
							</div>
						</div>
					</div>
				</div><!--End Header submenu -->

                <!-- app-content-->
				<div class="container content-area">
					<div class="side-app">

					    <!-- page-header -->
					<div class="page-header">
						<ol class="breadcrumb"><!-- breadcrumb -->
							<li class="breadcrumb-item"><a href="#">Information Gathering</a></li>
							<li class="breadcrumb-item active" aria-current="page">DNS Lookup</li>
						</ol><!-- End breadcrumb -->
							
					</div>
					

						
						<div class="card-body">
                            <input type="text" class="form-control" placeholder="Plese Enter Site Name" name="input" id="site-port" required>
                            <br>
                            <textarea placeholder="result" name="" id="cloud-txx" cols="30" rows="10" class="form-control"></textarea>
                            <br>
                            <button type="button"  id="btn" class="btn btn-outline-danger" >Start Process </button>
                        </div>

                           <script>
                               $(document).ready(function(){
                                   $("#btn").click(function(){
                                    var site=$("#site-port").val();
                                    $.get("https://api.hackertarget.com/dnslookup/?q="+site,function(data){
										
										if (data == "try reverse dns tool for ipaddress") {
											
											notif({
												msg: "<b>Oops!</b> Please Enter The Valid Address!",
												type: "error",
												position: "right"
											});

										} else {
											$("#cloud-txx").text(data)
										}

                                        statusCode
									});

                                   })
                               })
                           </script>
                           
                    </div>
                        




					</div>


					</div><!-- End Rightsidebar-->

					<!--footer-->
					<footer class="footer">
						<div class="container">
							<div class="row align-items-center flex-row-reverse">
								<div class="col-lg-12 col-sm-12   text-center">
									Copyright © 2020 <a href="https://ultrasec.org">Ultrasecurity</a>
								</div>
							</div>
						</div>
					</footer>
					<!-- End Footer-->

				</div>
				<!-- End app-content-->
			</div>
		</div>
		<!-- End Page -->

		<!-- Back to top -->
		<!-- <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a> -->

		




<!-- 

	start my js code
 -->

 	<script type="text/javascript">
			document.getElementById("btn-git").addEventListener("click",function(){
				window.open("https://github.com/joshkar");

			})
	 </script>

	<script type="text/javascript">
		document.getElementById("btn-tele").addEventListener("click",function(){
			window.open("https://t.me/Ultrasecurity");

		})
	</script>

	<script>
		$("#btn-reload").click(function(){
			location.reload();
		})
	</script>

	</body>
</html>