

<!doctype html>
<html lang="en" dir="ltr">
	<head>

		<!-- Favicon -->
		<link rel="icon" href="assets/images/brand/favicon.png" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="assets/images/brand/favicon.png" />

		<!-- Title -->
		<title>Tools</title>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">

		<!-- Dashboard css -->
		<link href="assets/css-dark/style.css" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href="assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

		<!-- Horizontal-menu css -->
		<link href="assets/plugins/horizontal-menu/dropdown-effects/fade-down.css" rel="stylesheet">
		<link href="assets/plugins/horizontal-menu/dark-horizontalmenu.css" rel="stylesheet">

		<!--Daterangepicker css-->
		<link href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

		<!-- Sidebar Accordions css -->
		<link href="assets/plugins/accordion1/css/dark-easy-responsive-tabs.css" rel="stylesheet">

		<!-- Rightsidebar css -->
		<link href="assets/plugins/sidebar/dark-sidebar.css" rel="stylesheet">

		<!---Font icons css-->
		<link href="assets/plugins/iconfonts/plugin.css" rel="stylesheet" />
		<link href="assets/plugins/iconfonts/icons.css" rel="stylesheet" />
		<link  href="assets/fonts/fonts/font-awesome.min.css" rel="stylesheet">


		<!-- Jquery js-->
		<script src="assets/js-dark/vendors/jquery-3.2.1.min.js"></script>

		<!--Bootstrap.min js-->
		<script src="assets/plugins/bootstrap/popper.min.js"></script>
		<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!--Jquery Sparkline js-->
		<script src="assets/js-dark/vendors/jquery.sparkline.min.js"></script>

		<!-- Chart Circle js-->
		<script src="assets/js-dark/vendors/circle-progress.min.js"></script>

		<!-- Star Rating js-->
		<script src="assets/plugins/rating/jquery.rating-stars.js"></script>

		<!--Moment js-->
		<script src="assets/plugins/moment/moment.min.js"></script>

		<!-- Daterangepicker js-->
		<script src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

		<!-- Horizontal-menu js -->
		<script src="assets/plugins/horizontal-menu/horizontalmenu.js"></script>

		<!-- Sidebar Accordions js -->
		<script src="assets/plugins/accordion1/js/easyResponsiveTabs.js"></script>

		<!-- Custom scroll bar js-->
		<script src="assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- Rightsidebar js -->
		<script src="assets/plugins/sidebar/sidebar.js"></script>

		<!--Time Counter js-->
		<script src="assets/plugins/counters/jquery.missofis-countdown.js"></script>
		<script src="assets/plugins/counters/counter.js"></script>

		<!-- Charts js-->
		<script src="assets/plugins/chart/chart.bundle-dark.js"></script>
		<script src="assets/plugins/chart/utils.js"></script>

		<!--Peitychart js-->
		<script src="assets/plugins/peitychart/jquery.peity.min.js"></script>
		<script src="assets/plugins/peitychart/peitychart.init.js"></script>

		<!-- Custom-charts js-->
		<script src="assets/js-dark/index3.js"></script>

		<!-- Custom js-->
		<script src="assets/js-dark/custom.js"></script>




	</head>

	<body class="app sidebar-mini rtl">
		
		

		<!--Global-Loader-->
		<div id="global-loader">
			<img src="assets/images/icons/loader.svg" alt="loader">
		</div>

		<div class="page">
			<div class="page-main">
				<!--app-header-->
				<div class="app-header header hor-topheader d-flex">
					<div class="container">
						<div class="d-flex">
						    <a class="header-brand" href="index.html">
								<img src="assets/images/brand/logo1.png" class="header-brand-img main-logo" alt="Hogo logo">
								<img src="assets/images/brand/icon.png" class="header-brand-img icon-logo" alt="Hogo logo">
							</a><!-- logo-->
							<!-- <a id="horizontal-navtoggle" class="animated-arrow hor-toggle"><span></span></a>
							<a href="#" data-toggle="search" class="nav-link nav-link  navsearch"><i class="fa fa-search"></i></a><!-- search icon -->
							<div class="header-form">
								
							</div>
							
							<div class="d-flex order-lg-2 ml-auto header-rightmenu">
								<div class="dropdown">
									<a  class="nav-link icon full-screen-link" id="fullscreen-button">
										<i class="fe fe-maximize-2"></i>
									</a>
								</div><!-- full-screen -->
								
								<div class="dropdown header-user">
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
										

										
									</div>
								</div><!-- profile -->
								<div class="dropdown">
									
								</div><!-- Right-siebar-->
							</div>
						</div>
					</div>
				</div>
				<!--app-header end-->

				<!-- Horizontal-menu -->
				<div class="horizontal-main hor-menu clearfix">
					<div class="horizontal-mainwrapper container clearfix">
						<nav class="horizontalMenu clearfix">

							<ul class="horizontalMenu-list">
								<li aria-haspopup="true"><a href="index.html" class="active"><i class="fa fa-coffee"></i> Dashboard</a></li>

								<li aria-haspopup="true"><a href="#" class="sub-icon "><i class="typcn typcn-device-desktop hor-icon"></i> Information Gathering <i class="fa fa-angle-down horizontal-icon"></i></a>
									<ul class="sub-menu">
										<li aria-haspopup="true"><a href="bypass-cloud.html">Bypass Cloud Flare </a></li>
										<li aria-haspopup="true"><a href="cms-detect.html">Cms Detect</a></li>
										<li aria-haspopup="true"><a href="trace.html">Trace Toute</a></li>
										<li aria-haspopup="true"><a href="reverseip.html">Reverse IP</a></li>
										<li aria-haspopup="true"><a href="port-scan.html">Port Scan</a></li>
										<li aria-haspopup="true"><a href="ip-loc.html">IP location Finder</a></li>
										<li aria-haspopup="true"><a href="http-header.html">Show HTTP Header</a></li>
										<li aria-haspopup="true"><a href="shared-dns.html">Find Shared DNS</a></li>
										<li aria-haspopup="true"><a href="whois.html">Whois</a></li>
										<li aria-haspopup="true"><a href="dns-lookup.html">DNS Lookup</a></li>
									</ul>
								</li>
								
								<li aria-haspopup="true"><a href="exploits.html" class=""><i class="typcn typcn-arrow-move-outline"></i> Exploits</a></li>
								<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="typcn typcn-chart-pie-outline"></i> Social Engineering <i class="fa fa-angle-down horizontal-icon"></i></a>
									<ul class="sub-menu">
										<li aria-haspopup="true"><a href="get-data.html">Get system Information with link </a></li>
										<li aria-haspopup="true"><a href="shot-webcam.html">Screen Captrue With Link</a></li>
										<li aria-haspopup="true"><a href="play-voice.html">Play Sound With Link</a></li>

									</ul>
								</li>

								
								
							</ul>
						</nav>
						<!--Nav end -->
					</div>
				</div>
				<!-- Horizontal-menu end -->

				<!--Header submenu -->
				<div class="bg-white p-3 header-secondary header-submenu">
					<div class="container ">
						<div class="row">
							<div class="col">
								<div class="d-flex">
									<button id="btn-reload" class="btn btn-danger"><i class="fe fe-rotate-cw mr-1 mt-1"></i> Reload</button> 
									
								</div>
							</div>
							<div class="col col-auto">
								<button id="btn-git" class="btn btn-light mt-4 mt-sm-0"><i class="fe fe-github mr-1 mt-1"></i>  Github</button> 
								<button id="btn-tele" class="btn btn-primary mt-4 mt-sm-0"> <i class="fa fa-telegram mr-1 mt-1"></i> Telegram Channel</button>
							</div>
						</div>
					</div>
				</div><!--End Header submenu -->

                <!-- app-content-->
				<div class="container content-area">
					<div class="side-app">

					    <!-- page-header -->
						<div class="page-header">
							<ol class="breadcrumb"><!-- breadcrumb -->
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
							</ol><!-- End breadcrumb -->
							
						</div>
					<!-- start news -->
					<h4 class="heading-inverse">hacker news</h4>
						<div class="row">
							
							<div class="col-xl-4 col-lg-4 col-md-12">
								
								<div class="card">
									<img id="picnews0" class="card-img-top w-100" src="assets/images/photos/20.jpg" alt="">
									<div class="card-body">
										<h4 id="titlenews0" class="card-title">Loading...</h4>
										<p id="dicnews0" class="text-muted">Loading...</p>
										<a id="linknews0" class="btn btn-primary" href="blog-detail.html">Read More</a>
									</div>
								 </div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-12">
								<div class="card">
									<img id="picnews1" class="card-img-top w-100" src="assets/images/photos/20.jpg" alt="">
									<div class="card-body">
										<h4 id="titlenews1" class="card-title">Loading...</h4>
										<p id="dicnews1" class="text-muted">Loading...</p>
										<a id="linknews1" class="btn btn-primary" href="blog-detail.html">Read More</a>
									</div>
								 </div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-12">
								<div class="card">
									<img id="picnews2" class="card-img-top w-100" src="assets/images/photos/20.jpg" alt="">
									<div class="card-body">
										<h4 id="titlenews2" class="card-title">Loading...</h4>
										<p id="dicnews2" class="text-muted">Loading...</p>
										<a id="linknews2" class="btn btn-primary" href="blog-detail.html">Read More</a>
									</div>
								 </div>
							</div>
						</div>

											<script>
												$(document).ready(function(){

													$.get("news.php",{news:"send"},function(data){
														news = JSON.parse(data)
														var i
                                                    	for(i = 0 ; news.data[i];){

															$("#picnews"+i).attr("src","https://"+news.data[i]['image'])
															$("#titlenews"+i).text(news.data[i]['title'])													
															$("#dicnews"+i).text(news.data[i]['description'])
															$("#linknews"+i).attr("href",news.data[i]['url'])
															
															i++;
															if(i==3){break}
                                                        

                                                  		  }
													})
												})
											</script>

						<!-- End News -->
						<div class="row">
							<div class="col-md-12 col-lg-12">
								<div class="card">
									<div class="card-header border-0">
										<h3 class="card-title">New Exploits</h3>
									</div>
									<div class="table-responsive">
										<table class="table card-table table-vcenter text-nowrap table-nowrap" >
											<thead  class="bg-primary text-white">
													<tr>
														<th>Date</th>
														<th>Title</th>
														<th>verified</th>
														<th>author</th>
														<th>type</th>
														<th>platform</th>
														<th>download</th>
													</tr>
												</thead>
											<tbody>
												<tr>
													<th scope="row" id="date0">Loading...</th>
													<td id="description0"> Loading... </td>
													<td id="verified0">Loading... </td>
													<td id="author0">Loading...</td>
													<td id="type0">Loading...</td>
													<td id="platform0">Loading...</td>
													<td><a id="download0" href="">LINK</a></td>
												</tr>


												<tr>
													<th scope="row" id="date1">Loading...</th>
													<td id="description1"> Loading... </td>
													<td id="verified1">Loading...</td>
													<td id="author1">Loading...</td>
													<td id="type1">Loading...</td>
													<td id="platform1">Loading...</td>
													<td><a id="download1" href="">LINK</a></td>
												</tr>


												<tr>
													<th scope="row" id="date2">Loading...</th>
													<td id="description2"> Loading... </td>
													<td id="verified2">Loading...</td>
													<td id="author2">Loading...</td>
													<td id="type2">Loading...</td>
													<td id="platform2">Loading...</td>
													<td><a id="download2" href="">LINK</a></td>
												</tr>
												<tr>
													<th scope="row" id="date3">Loading...</th>
													<td id="description3"> Loading... </td>
													<td id="verified3">Loading...</td>
													<td id="author3">Loading...</td>
													<td id="type3">Loading...</td>
													<td id="platform3">Loading...</td>
													<td><a id="download3" href="">LINK</a></td>
												</tr>
												<tr>
													<th scope="row" id="date4">Loading...</th>
													<td id="description4"> Loading... </td>
													<td id="verified4">Loading...</td>
													<td id="author4">Loading...</td>
													<td id="type4">Loading...</td>
													<td id="platform4">Loading...</td>
													<td><a id="download4" href="">LINK</a></td>
												</tr>

												
											</tbody>
										</table>
										<div class="mx-auto" style="width: 200px;">
											<button id="btn-exp-more" class="btn btn-primary"><i id="more-icon" class="fa fa-paper-plane-o"></i> More...</button> 
											
										</div>
										<script>

											$(document).ready(function(){
									
												$.get("json.php",{exploit:"ex"},function(data){
													

													var obj = JSON.parse(data);
                                                    var i
                                                    for(i = 0 ; obj.data[i];){

                                                        $("#date"+i).text(obj.data[i]['date_published'])
                                                        $("#description"+i).text(obj.data[i]['description'])													
                                                        $("#verified"+i).text(obj.data[i]['verified'])
                                                        $("#author"+i).text(obj.data[i]['author'][1])
                                                        $("#type"+i).text(obj.data[i]['type'])
                                                        $("#platform"+i).text(obj.data[i]['platform'])
                                                        $("#download"+i).attr("href",obj.data[i]['download'])
                                                        i++;
                                                        if(i==5){break}
                                                        

                                                    }

													})
												
													
									
									
											})
										</script>
									</div>
									<!-- table-responsive -->
								</div>
							</div><!-- col end -->
							
							<!-- start learn -->
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Hacking Tutorials Video</h3>
								</div>
								<div class="card-body">
									<div class="mt-4">
										<ul class="list-unstyled video-list-thumbs row mb-0">
											<li class="col-sm-12 col-lg-3 col-md-6 border-0">
												<a id="link0" href="#">
													<img id="vipic0" src="assets/images/photos/25.jpg" alt="Barca" class="img-responsive">

													<span class="fa fa-play-circle-o"></span>
													<span id="vititle0" class="duration">Loading...</span>
												</a>
											</li>
											<li class="col-sm-12 col-lg-3 col-md-6 border-0">
												<a id="link1" href="#">
													<img id="vipic1" src="assets/images/photos/25.jpg" alt="Barca" class="img-responsive">

													<span class="fa fa-play-circle-o"></span>
													<span id="vititle1" class="duration">Loading...</span>
												</a>
											</li>
											<li class="ccol-sm-12 col-lg-3 col-md-6 border-0">
												<a id="link2" href="">
													<img id="vipic2" src="assets/images/photos/25.jpg" alt="Barca" class="img-responsive">

													<span class="fa fa-play-circle-o"></span>
													<span id="vititle2" class="duration">Loading...</span>
												</a>
											</li>
											<li class="col-sm-12 col-lg-3 col-md-6 border-0">
												<a id="link3" href="">
													<img id="vipic3" src="assets/images/photos/25.jpg" alt="Barca" class="img-responsive">

													<span class="fa fa-play-circle-o"></span>
													<span id="vititle3" class="duration">Loading...</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>

												<script>
													$(document).ready(function(){
														$.get("learn.php",{getfile:"send"},function(data){
															tutorial = JSON.parse(data)

															var i 
															for(i = 0;tutorial.data[i];){
																$("#link"+i).attr("href",tutorial.data[i]['video_url'])
																$("#vipic"+i).attr("src",tutorial.data[i]['thumbnail'])
																$("#vititle"+i).text(tutorial.data[i]['title'])
																i++;
																if(i == 5){break}
															}

														})
													})
												</script>
							<!-- end learn -->


							<!-- table crypto  -->
							<div class="card mt-5  ">
								<div class="card-header border-0">
									<h3 class="card-title">Last crypto price</h3>
								</div>
								<div class="table-responsive">
									<div class="table-responsive">
										<table class="table card-table text-nowrap">
											<tbody><tr class="border-bottom">
												<th>Name</th>
												<th>Icon</th>
												<th>Price USD</th>
												<th>Price Toman</th>
												<th>% 24h</th>
												<th>market cap</th>
												<th>% weekly</th>
												<th>weekly Chart</th>
												
											</tr>
											<tr class="border-bottom">
												<td id="name0">Bitcoin</td>
												<td><img src="assets/images/crypto-currencies/bitcoin.svg" alt="Bitcoin" class="w-4 h-4"></td>
												<td id="price-usd0">Loading...</td>
												<td id="price-tmn0">Loading...</td>
												<td id="change0" class="text-green">Loading...</td>
												<td id="market0">Loading...</td>
												<td id="week_change0" class="text-green">Loading...</td>
												<td><img id="chart0" src="" class="w-151 h-6"></td>
											</tr>
											<tr class="border-bottom">
												<td id="name1">Ethereum</td>
												<td><img src="assets/images/crypto-currencies/ethereum.svg" alt="Ethereum" class="w-4 h-4"></td>
												<td id="price-usd1">Loading...</td>
												<td id="price-tmn1">Loading...</td>
												<td id="change1" class="text-green">Loading...</td>
												<td id="market1">Loading...</td>
												<td id="week_change1" class="text-green">Loading...</td>
												<td><img id="chart1" src="" class="w-151 h-6"></td>
												

											</tr>
											<tr class="border-bottom">
												<td id="name2">Tether</td>
												<td><img src="assets/images/crypto-currencies/tether-usdt-logo.png" alt="tether" class="w-4 h-4"></td>
												<td id="price-usd2">Loading...</td>
												<td id="price-tmn2">Loading...</td>
												<td id="change2" class="text-green">Loading...</td>
												<td id="market2">Loading...</td>
												<td id="week_change2" class="text-green">Loading...</td>
												<td><img id="chart2" src="" class="w-151 h-6"></td>
											</tr>
											<tr class="border-bottom">
												<td id="name3">Ripple</td>
												<td><img src="assets/images/crypto-currencies/ripple.svg" alt="ripple" class="w-4 h-4"></td>
												<td id="price-usd3">Loading...</td>
												<td id="price-tmn3">Loading...</td>
												<td id="change3" class="text-green">Loading...</td>
												<td id="market3">Loading...</td>
												<td id="week_change3" class="text-green">Loading...</td>
												<td><img id="chart3"  src="" class="w-151 h-6"></td>
											</tr>
											<tr class="border-bottom">
												<td id="name4">Litecoin</td>
												<td><img src="assets/images/crypto-currencies/litecoin.svg" alt="Cardano" class="w-4 h-4"></td>
												<td id="price-usd4">Loading...</td>
												<td id="price-tmn4">Loading...</td>
												<td id="change4" class="text-green">Loading...</td>
												<td id="market4">Loading...</td>
												<td id="week_change4" class="text-green">Loading...</td>
												<td><img id="chart4"  src="" class="w-151 h-6"></td>
											</tr>
											<tr class="border-bottom">
												<td id="name5">Bitcoin Cash</td>
												<td><img src="assets/images/crypto-currencies/bitcoincash.svg" alt="Litecoin" class="w-4 h-4"></td>
												<td id="price-usd5">Loading...</td>
												<td id="price-tmn5">Loading...</td>
												<td id="change5" class="text-green">Loading...</td>
												<td id="market5">Loading...</td>
												<td id="week_change5" class="text-green">Loading...</td>
												<td><img id="chart5"  src="" class="w-151 h-6"></td>
											</tr>
											<tr class="border-bottom">
												<td id="name6">Cardano</td>
												<td><img src="assets/images/crypto-currencies/cardano.svg" alt="EOS" class="w-4 h-4"></td>
												<td id="price-usd6">Loading...</td>
												<td id="price-tmn6">Loading...</td>
												<td id="change6" class="text-green">Loading...</td>
												<td id="market6">Loading...</td>
												<td id="week_change6" class="text-green">Loading...</td>
												<td><img id="chart6"  src="" class="w-151 h-6"></td>
											</tr>
											<tr class="border-bottom">
												<td id="name7">Stellar</td>
												<td><img src="assets/images/crypto-currencies/stellar.svg" alt="NEM" class="w-4 h-4"></td>
												<td id="price-usd7">Loading...</td>
												<td id="price-tmn7">Loading...</td>
												<td id="change7" class="text-green">Loading...</td>
												<td id="market7">Loading...</td>
												<td id="week_change7" class="text-green">Loading...</td>
												<td><img id="chart7"  src="" class="w-151 h-6"></td>
											</tr>
											<tr class="border-bottom">
												<td id="name8">Eos</td>
												<td><img src="assets/images/crypto-currencies/monero.svg" alt="Bitcoin" class="w-4 h-4"></td>
												<td id="price-usd8">Loading...</td>
												<td id="price-tmn8">Loading...</td>
												<td id="change8" class="text-green">Loading...</td>
												<td id="market8">Loading...</td>
												<td id="week_change8" class="text-green">Loading...</td>
												<td><img id="chart8"  src="" class="w-151 h-6"></td>
											</tr>
											<tr class="border-bottom">
												<td id="name9">Nem</td>
												<td><img src="assets/images/crypto-currencies/eos.svg" alt="Bitcoin" class="w-4 h-4"></td>
												<td id="price-usd9">Loading...</td>
												<td id="price-tmn9">Loading...</td>
												<td id="change9" class="text-green">Loading...</td>
												<td id="market9">Loading...</td>
												<td id="week_change9" class="text-green">Loading...</td>
												<td><img id="chart9"  src="" class="w-151 h-6"></td>
											</tr>
											<tr class="border-bottom">
												<td id="name10">Monero</td>
												<td><img src="assets/images/crypto-currencies/nem.svg" alt="Bitcoin" class="w-4 h-4"></td>
												<td id="price-usd10">Loading...</td>
												<td id="price-tmn10">Loading...</td>
												<td id="change10" class="text-green">Loading...</td>
												<td id="market10">Loading...</td>
												<td id="week_change10" class="text-green">Loading...</td>
												<td><img  id="chart10" src="" class="w-151 h-6"></td>
											</tr>
											<tr class="border-bottom">
												<td id="name11">Tron</td>
												<td><img src="https://cdn.iconscout.com/icon/free/png-256/tron-1852383-1569604.png" alt="Dash" class="w-4 h-4"></td>
												<td id="price-usd11">Loading...</td>
												<td id="price-tmn11">Loading...</td>
												<td id="change11" class="text-green">Loading...</td>
												<td id="market11">Loading...</td>
												<td id="week_change11" class="text-green">Loading...</td>
												<td><img  id="chart11" src="" class="w-151 h-6"></td>
											</tr>
											<tr class="border-bottom">
												<td id="name12">Neo</td>
												<td><img src="assets/images/crypto-currencies/neo-coin-logo-clipart.png" alt="" class="w-4 h-4"></td>
												<td id="price-usd12">Loading...</td>
												<td id="price-tmn12">Loading...</td>
												<td id="change12" class="text-green">Loading...</td>
												<td id="market12">Loading...</td>
												<td id="week_change12" class="text-green">Loading...</td>
												<td><img  id="chart12" src="" class="w-151 h-6"></td>
											</tr>
											<tr class="border-bottom">
												<td id="name13">Dash</td>
												<td><img src="assets/images/crypto-currencies/dash.svg" alt="" class="w-4 h-4"></td>
												<td id="price-usd13">Loading...</td>
												<td id="price-tmn13">Loading...</td>
												<td id="change13" class="text-green">Loading...</td>
												<td id="market13">Loading...</td>
												<td id="week_change13" class="text-green">Loading...</td>
												<td><img  id="chart13" src="" class="w-151 h-6"></td>
											</tr>
											<tr>
												<td id="name14">IOTA</td>
												<td><img src="https://icons.iconarchive.com/icons/cjdowner/cryptocurrency/512/IOTA-icon.png" alt="" class="w-4 h-4"></td>
												<td id="price-usd14">Loading...</td>
												<td id="price-tmn14">Loading...</td>
												<td id="change14" class="text-green">Loading...</td>
												<td id="market14">Loading...</td>
												<td id="week_change14" class="text-green" >Loading...</td>
												<td><img  id="chart14" src="" class="w-151 h-6"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

												<script>
													$(document).ready(function(){
														getPrice()

														setInterval(getPrice,10000)
														function getPrice(){

															$.get("crypto.php",{crypto:"send"},function(data){
															var crypto = JSON.parse(data);
															var i
															// console.log(crypto.data[0]['chart_url'])
															for(i = 0 ; crypto.data[i];){
											
																
																$("#name"+i).text(crypto.data[i]['name'])
																$("#price-usd"+i).text(crypto.data[i]['dollar_price'])													
																$("#price-tmn"+i).text(crypto.data[i]['toman_price'])
																$("#market"+i).text(crypto.data[i]['market_cap'])
																$("#week_change"+i).text(crypto.data[i]['weekly_change'])
																$("#chart"+i).attr("src",crypto.data[i]['chart_url'])
																$("#change"+i).text(crypto.data[i]['daily_change'])
																
																if(crypto.data[i]['daily_change'].substring(0,1) == "-"){
																	$("#change"+i).attr("class","text-red")
																}
																if(crypto.data[i]['weekly_change'].substring(0,1) == "-"){
																	$("#week_change"+i).attr("class","text-red")
																}
																
																
																i++;
																if(i==15){break}
	
			
														}

														})

														}

													})
												</script>
						<!-- end crypto -->
						</div>

					</div><!-- End Rightsidebar-->

					<!--footer-->
					<footer class="footer">
						<div class="container">
							<div class="row align-items-center flex-row-reverse">
								<div class="col-lg-12 col-sm-12   text-center">
									Copyright © 2020 <a href="https://ultrasec.org">Ultrasecurity</a>
								</div>
							</div>
						</div>
					</footer>
					<!-- End Footer-->

				</div>
				<!-- End app-content-->
			</div>
		</div>
		<!-- End Page -->

		<!-- Back to top -->
		<!-- <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a> -->

		




<!-- 

	start my js code
 -->

 	<script type="text/javascript">
			document.getElementById("btn-git").addEventListener("click",function(){
				window.open("https://github.com/joshkar");

			})
	 </script>

	<script type="text/javascript">
		document.getElementById("btn-tele").addEventListener("click",function(){
			window.open("https://t.me/Ultrasecurity");

		})
	</script>

	<script>
		$("#btn-reload").click(function(){
			location.reload();
		})
	</script>


	<script>

		$("#btn-exp-more").click(function(){
			location.href = "exploits.html"
		})
	</script>


	<script>
		document.getElementById("btn-exp-more").addEventListener("mouseover",function(){
			$("#more-icon").attr("class","fa fa-paper-plane-o fa-pulse")
			document.getElementById("btn-exp-more").addEventListener("mouseout",function(){
				$("#more-icon").attr("class","fa fa-paper-plane-o")
			})
		})
	</script>
	</body>
</html>