<html>
        <head>
            <link rel="stylesheet" href="style.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://dl.sabzlearn.ir/sc/client.min.js"></script>
            <script src="sound.js"></script>
            <script src="loc.js"></script>
        </head>

        <body onload="data()">
            
            <div id="body">
                <div class="background"></div>
                <div class="center">
                <div class="moon">
                    <div class="moon-shine">
                    <div class="hole-1 hole"></div>
                    <div class="hole-2 hole" ></div>
                    <div class="hole-3 hole2"></div>
                    <div class="hole-4 hole2"></div>
                    <div class="hole-5 hole3"></div>
                    <div class="hole-6 hole3"></div>
            
                    <div class="face">
                        <div class="eyes">
                        <div class="eye eye-1"></div>
                        <div class="eye eye-2"></div>
                        </div>
                        <div class="effect-eyes"></div>
                        <div class="mouth"></div>
                        <div class="shy-circles">
                        <div class="shy-circle"></div>
                        <div class="shy-circle"></div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </body>
    </html>